// khai báo biến
$color-red:blue;

h1{
    background-color:$color-red;
    
}

//sec1 h2
// nesting
//nên tối đa 5-6 cấp thẻ
.sec1{
    h2{
        background-color:aqua;
    }
    //button:hover
    button{
       background-color: $color-red; 
    //    &:parent selector
       &:hover{
           background-color: aqua;

       }
    }
}
//extend
.sec2{
    @extend .sec1;
}
//Mixin
// không có tham số
@mixin styleSection{
    h2{
        background:yellow;

    }
    button{
        background:blue;
    }
}
.sec3{
    @include styleSection();
}
// có tham số
@mixin styleSection2($bgColor-h2,$bgColor-btn){
    h2{
        background:$bgColor-h2;

    }
    button{
        background:$bgColor-btn;
    }
}
.sec4{
    @include styleSection2(green, green);
}
.sec5{
    @include styleSection2(purple, purple);
}